.table-row{
    display: flex;
    border:1px solid #000 ;
    width: 1200px;
}
.airport{
    text-decoration: none;
    width: 60%;
    text-align: start;
}
.country{
    width: 100px;
    text-align: start;
}
.code{
    margin-left: 10px;
    
    width: 100px;
    text-align: center;
}
.terminals{
    margin-left: 10px;
    
    width: 100px;
    text-align: end;
}
.edit-del-cont{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.edit-del-btn{
    background: transparent;
    border: none;
    cursor: pointer;
}