.table-heading-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    border:1px solid #000 ;
}
.country-table{
    margin-right: 20px;
}
.code-table{
    margin-right: 20px;
}
.terminal-table{
    margin-right: 20px;
}
.checkbox-name-cont{
    width: 400px;
}
.rest-table{
    width: 600px;
    display: flex;
    justify-content: end;
}

.add-btn{
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}